.gpt3__possibility{

   display: flex;
   flex-direction: row;
}
.gpt3__possibility-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}
.gpt3__possibility-image img{
width: 100%;
height: 100%;

}
.gpt3__possibility-container {
    display: flex;
    flex-direction: column;
flex: 1;
justify-content: flex-end;
align-items: flex-start;
}
.gpt3__possibility-container p {
    font-family: var(--font-family);
    color: var(--color-text);
    line-height: 25px;
    margin-top:2rem ;
}

.gpt3__possibility-container h1{
font-family: var(--font-family);
margin: 1rem 0;
    font-size: 50px;
    line-height: 40px;
    font-weight: 500;
}
@media  screen and  (max-width : 950px){
    .gpt3__possibility{
        flex-direction: column;
    }
}